<div class="container">
    <div class="row">
        <div class="title mt-3 mb-3">
            <h4>1. List Products</h4>
        </div>
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th>Stt</th>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products$ | async; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ product.name }}</td>
                    <td class="text-center">{{ product.stock }}</td>
                    <td class="text-right">{{ product.price }} $</td>
                    <td class="text-center">
                        <button class="btn btn-primary ml-2">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button (click)="editProduct(product.id)" class="btn btn-warning ml-2">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button (click)="deleteProduct(product)" class="btn btn-danger ml-2">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>